html {
  height: 100%;
}
body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16pt;
  box-sizing: border-box;
  height: 100%;
  background: linear-gradient(to bottom, #dcebff, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
}
h2,
h3 {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}
h4 {
  font-size: 1.25em;
}
#pageHeader {
  display: flex;
  justify-content: space-between;
  background-color: #dcebff;
  background-color: rgba(0, 0, 0, 0); /*transparent box but not text*/
  color: #313e4e;
  font-family: 'Libre Franklin', sans-serif;
  padding: 10px;
}
#pageHeader h1 {
  font-size: 2.5em;
  margin: 0;
}
#wind {
  height: 35px;
}
#header-right {
  display: flex;
  width: 500px;
}
.collapsible-body {
  background: #d2dceb;
}
.address-drilldown {
  justify-content: space-between;
}
.address-container {
  display: flex;
  justify-content: space-between;
}
/* puts the google places autocomplete dropdown results above the bootstrap modal 1050 zindex. */
.pac-container {
  z-index: 1051 !important;
}

#weather {
  float: right;
  font-size: 24px;
  margin-top: 10px;
  padding: 12px;
  text-align: right;
}

.smalleditbutton,
.deletebutton {
  padding: 0 8px;
  height: 25px;
  line-height: 25px;
}

#invisibleIndexField {
  display: none;
}

.nearbyRight {
  margin: 10px 0;
}

.nomargin {
  margin-right: 0 !important;
  vertical-align: middle;
}

.travelTime {
  font-size: medium;
}

#map {
  border: 1px solid #999;
}

#nearbycss {
  clear: both;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  height: 260px;
  margin-bottom: 6px;
}

.nearbypic {
  display: inline-block;
  float: left;
}

.nearbytext {
  font-size: 20px;
  padding-left: 3px;
  left: 10px;
  position: relative;
  top: 35px;
  padding-bottom: 10px;
}
